.container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 40px;
    margin: 80px;
}

button {
    background-color: orange;
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 30px;
    
    margin-top: 12px;
    border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
}

input[type='radio'] {
    border-radius: 5px;
    width: 10%;
}
input[type='text'] {
    width: 80%;
    padding: 12px;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
}
input[type='number'] {
    width: 80%;
    padding: 12px;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
}
input[type='date'] {
    width: 80%;
    padding: 12px;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
}
p {
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
}
label{
    margin-top: 15px; 
}